.metadata/
.settings/
classes/
build/
bin/
target/
.apt_generated/

/.metadata/*
/.settings/*
/classes/*
/build/*
/bin/*
/target/*
/.apt_generated/*

.factorypath
*.classpath
*.class
*.log
~$*.*
.project
.svn
.idea
*.iml
*.flattened-pom.xml
app-*.log.gz